* {
	margin: 0;
	padding: 0;
	border: none;
	font-size: 10px;
}

html, body {
	height: 100%;
}

/* music */
#music {
	position: fixed;
	top: 3vh;
	right: 4vw;
	z-index: 5;
	width: 15vw;
	height: 15vw;
	border: 4px solid #ef1639;
	border-radius: 50%;
	background: #fff;
}

#music > img:first-of-type {
	position: absolute;

	/*这里怎么又用%了*/
	top: 24%;
	right: 2.5%;
	width: 28.421%;
}

#music > img:last-of-type {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	/*这个出来是什么效果？absolute相当于inline-block; left、right、top、bottom: 0 和margin: auto; 结合生成居中效果*/
	margin: auto;

	/*图片宽高设置一个，另一个等比例缩放*/
	width: 79%;
}

/* page bg */
.page {
	height: 100%;
}
.page > .bg {
	position: absolute;
	z-index: -1;

	/*使用了绝对定位，宽度默认100%失去效用, 所以这里要进行设置; 三个页面背景都100%, html/body也是100% 不会出问题？*/
	width: 100%;
	height: 100%;
}

/* page1 */
#page1 > .bg {
	background: url("../images/p1_bg.jpg") no-repeat center center;
	background-size: 100%;
}

#page1 > .p1_lantern {
	position: absolute;
	top: -3.4%;
	right: 0;
	left: 0;
	margin: auto;
	background: url("../images/p1_lantern.png") no-repeat center bottom;
	background-size: 100%;
	width: 45vw;
	height: 71.2vh;
	font-size: 3.506rem;
	padding-top: 31vh;
	text-align: center;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
}

/*伪类 before在文字的前边，用after是在文字的后边*/
#page1 > .p1_lantern:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 30vw;
	content: "";
	z-index: -1;

	/*因为是个正圆，我们想高度和宽度一样，所以最好也用单位vw*/
	height: 30vw;
	background: #d60b3b;
	opacity: .5;
	border-radius: 50%;

	              /*内衬  外模糊 颜色*/
	-webkit-box-shadow: 0 0 10vw 10vw #d60b3b;
	-moz-box-shadow: 0 0 10vw 10vw #d60b3b;
	-ms-box-shadow: 0 0 10vw 10vw #d60b3b;
	-o-box-shadow: 0 0 10vw 10vw #d60b3b;
	box-shadow: 0 0 10vw 10vw #d60b3b;
}

#page1 > .p1_imooc {
	position: absolute;
	right: 0;
	bottom: 9vh;
	left: 0;
	background: url("../images/p1_imooc.png") no-repeat center center;
	background-size: 100%;
	width: 27.656vw;
	height: 18.63vh;
	margin: auto;
}

#page1 > .p1_words {
	font-size: 2.134rem;
	position: absolute;
	right: 0;
	bottom: 48px;
	left: 0;
	text-align: center;
	color: #231815;
}

/* page2 */
#page2 > .bg {
	background: url("../images/p2_bg.jpg") no-repeat center center;
	background-size: 100%;
}

/* page3 */
#page3 > .bg {
	background: url("../images/p3_bg.jpg") no-repeat center center;
	background-size: 100%;
}
