@charset "utf-8";
html,body{height:100%;}
body{margin:0;padding:0; font:14px/22px "微软雅黑","宋体",Arial; color:#333;}
ul{list-style: none;padding:0;margin: 0;}
dl,dd{margin:0;}img{border:none;}
#header{min-width:1024px;height:60px; background:#fafafa;border-top:3px solid #00b38a;}
#header .wrapper{width:1024px;margin:0 auto; position:relative;z-index:90;}
.logo{border:0; float:left; margin:10px 0 0 0;background:url(../../images/logo.png) no-repeat;width:229px; height:43px;}
/* ------------- Retina ------------- */
@media only screen and (-o-min-device-pixel-ratio: 2/1), /* Opera */
       only screen and (min--moz-device-pixel-ratio: 2), /* Firefox 16 之前 */
       only screen and (-webkit-min-device-pixel-ratio: 2), /* Webkit */
       only screen and (min-resolution: 240dpi), /* 标准 */
       only screen and (min-resolution: 2dppx) /* 标准 */
{
	.logo{
	    background-image:url(../../images/logo@2x.png);
	    background-size: 229px 38px;
	}
}
#navheader{float:left;position:relative; margin-left:30px;font-size:0;}
#navheader li{height:60px;display: inline-block;*display: inline; *zoom:1;position:relative; z-index:3;margin:0;padding: 0 20px;}
#navheader li.current{z-index:1;}
#navheader li a{height:57px;line-height:57px;font-size:20px;color:#999;float:left;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
#navheader li.current a{color:#333;border-bottom:3px solid #00b38a;}
#navheader li a:hover{color:#333;}
#navheader li i{position:absolute;right:-10px;top:10px;width:23px;height:15px;background:url(../../images/icon_new.png) right top no-repeat;}
#navheader li b{font-size: 12px;line-height:18px;font-weight: 100;position:absolute;left:100px;top:10px;color:#fff;background:#fd470c;padding:0 5px;-moz-border-radius:9px;-webkit-border-radius:9px;border-radius:9px;}
#header ul.loginTop{margin:0;padding:0;list-style:none; position:absolute;right:0;top:0; overflow:hidden;}
#header ul.loginTop li{float:left;color:#fff; height:22px;background:#00b38a;padding:4px 0;}
#header ul.loginTop a{color:#fff; padding:0 12px;}
#header ul.loginTop a:hover{color:#cceae3;}
#header dl{float:right;*max-width:170px; color:#fff;background:#00b38a; position:absolute; right:0;z-index:101; cursor:pointer;line-height:30px;}
#header dt{display:block; position:relative;  color:#fff; padding:0 40px 0 20px; background:#00b38a; min-width:105px;overflow:hidden;}
#header dt span#nowrap{float:left;width:108px;*width:108px;overflow:hidden;white-space:nowrap;text-overflow: ellipsis; }
/**add nancy**/
#header dt #nowrap{word-wrap:normal;}
#header dt span.red{display:inline-block;width:9px;height:9px;background:url(../../images/noticeDot.png) no-repeat;margin:11px 0 0 -10px;/**margin-left:0px;*/}
#header dt span.dn{display:none;}                                                         
#header dt i{ position:absolute; top:14px; right:25px; font-size:0px; height:0; width:0; border-width:4px 4px 0; border-style:solid dashed; border-color:#fff transparent transparent;overflow: hidden;-webkit-transition:all 0.4s ease 0s;-moz-transition:all 0.4s ease 0s;-o-transition:all 0.4s ease 0s;transition:all 0.4s ease 0s;}
#header dl:hover i{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg);}
/* #header dl.expend dt i{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg);} */
#header dd{ display:none;}
#header dd.btm{ border-bottom:1px dashed #34ad91;}
#header dd a{display:block; color:#fff; padding:0 20px; background:#00b38a;}
#header dd a:hover, #header dd a.current{background:#00a57f;}
#header dd a span.red{color:#fff;font-size:12px; float:right;padding-top:1px;*margin:-32px 0 0 0;}
/*jason 2014/7/10*/
/* #noticeTip{color:#019875;background:#fff; position:relative;float:right; margin:45px 0 0 0;padding:1px 8px;border:2px solid #c4c4c4;} */
#noticeTip{color:#00b38a;background:#fff; position:absolute;right:0;float:right; margin:45px 0 0 0;padding: 7px 28px 7px 12px;border:2px solid #c4c4c4;}
#noticeTip strong{color:#fe7054;}
#noticeTip span{width:0; height:0; font-size:0; overflow:hidden; position:absolute;}
#noticeTip span.bot{border-width:8px;border-style:  dashed dashed solid;border-color:  transparent transparent #c4c4c4;right:20px;top:-16px;}
#noticeTip span.top{border-width:8px;border-style:  dashed dashed solid;border-color:  transparent transparent #ffffff;right:20px;top:-14px;}
#noticeTip a{color:#00b38a; }
#noticeTip .notice_tip{display:block;color:#333;text-decoration: none;}
/* #noticeTip a.closeNT{width:12px;height:12px;display:inline-block;margin-left:10px;background:url(../images/close_notice.png) no-repeat;transition: all .5s;-moz-transition: all .5s;-webkit-transition: all .5s;-o-transition: all .5s;} */
/*jason 2014/7/10*/
#noticeTip a.closeNT{position:absolute;right:6px;top:6px;width:12px;height:12px;display:inline-block;margin-left:10px;background:url(../../images/close_notice.png) no-repeat;transition: all .5s;-moz-transition: all .5s;-webkit-transition: all .5s;-o-transition: all .5s;}
#noticeTip a.closeNT:hover{transform: rotate(180deg);-ms-transform: rotate(180deg);-webkit-transform: rotate(180deg);-o-transform: rotate(180deg);-moz-transform: rotate(180deg);}
#footer{ clear:both; height:36px; border-top:1px solid #ebebeb;line-height:36px;}
#footer .wrapper{width:754px;margin:0 auto;padding-left:270px;}
#footer a{/* padding:0 5px; */ color:#555;}
.footer_qr{ position:relative;}
.footer_qr i{ display:none; border:3px solid #0D9572; background:url(../../images/qrcode.jpg) no-repeat; width:242px; height:242px; position:absolute; bottom:20px; left:0px;z-index:100;}
#footer .copyright{color:#999;float:right; *margin-top:-36px; }
#footer .copyright a{color:#999;}
#backtop{display:none;background:url(../../images/backtop.png) left top no-repeat;width:28px;height:64px;position:fixed;bottom:140px;margin-left:1060px; cursor:pointer;}
#backtop:hover{background-position:right top !important;}
#aside {width:144px;background:#fff;position:fixed;right:0;bottom:130px;z-index:200;}
.closex {width:27px;height:27px;background:url(../../images/tencentEC/closex.png) no-repeat;position:absolute;top:-27px;right:0}
#aside div.saowo {border-bottom:1px dashed #7f7f7f;padding:0 0 12px 14px;line-height:14px}
#aside div.saowo span{display:block;padding:10px 0px 0 12px;}
#aside img.aside_title {margin:12px 0 0 14px}
#aside .slidebox {padding:0 10px 12px 14px}
#aside .slidebox a {color:#14ad98}
#aside .slidebox div {display:none;border-top:1px dashed #f9f9f9}
#aside .slidebox p {margin:10px 0}
#qr_cloud{position:fixed;width:100%;heigth:100%;background:url(../../images/overlay_light.png) repeat;left:0;top:0;bottom:0;z-index:9999;overflow:hidden}
#qr_cloud .cloud{background:url(../../images/qr/qr_register.png) no-repeat;width:553px;height:383px;margin:150px auto 0 auto}
#qr_cloud .close{width:35px;height:35px;background:url(../../images/qr/qr_cloud_close.png) no-repeat;float:right;margin:30px 50px 0 0}
#qr_cloud .close_btn{position:absolute;display:block;width:120px;height:45px;margin:12px 0 0 182px}
#qr_cloud img{margin:150px 0 0 175px}
.dn {display:none}
#speed_qr {width:111px;height:111px;position:fixed;	background:url(../../images/overlay_light.png) repeat;z-index:1000;right:0;bottom:100px;z-index:99}
.employee_zhuzhou{
	padding:5px 0 5px 35px;
	height:25px;
	background:url(../../images/tencentEC/zhushou.jpg) 10px 5px no-repeat;
}
/*名字前加图标*/
#header dt.plus-vip{
	background:url(http://hr.lagou.com/images/vipApply/plusVipSign.png) 3px center no-repeat;
}
/*一拍加beta*/
#navYipai .beta-wrapper{
	position: absolute;
	left: 64px;
    top: 10px;
    height: 18px;
	padding-left: 15px;
	background: transparent url(http://hr.lagou.com/images/icon_beta_tail.png) no-repeat bottom left;
}
#navYipai .beta{
	top: 0;
	left:3px;
	-moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
}
/*拉勾app下载二维码start*/
.footer_app{ position:relative;}
.footer_app i{ display:none; border:3px solid #0D9572; background:url(../../images/app-download/qrcode.jpg) no-repeat; width:256px; height:256px; position:absolute; bottom:20px; left:0px;z-index:1001;}
.footer_app span{ display: inline-block; background:url(../../images/app-download/beta.jpg) no-repeat; width:30px; height: 16px; position: relative; top: 3px; /* left: 3px; */}
/*拉勾app下载二维码end*/