.tips{position:fixed;overflow:hidden;padding-left:16px;width:16rem;height:3rem;font:12px/25px;color:#333;background:url(/jiuyi/image/infobox-bg-l.gif) no-repeat 0 0;}
.tips span{display:block;background:#FFF9DD url(/jiuyi/image/infobox-bg-l-r.gif) no-repeat 100% 0;height:34px;line-height:34px;padding:0;}
